@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Bebas Neue', cursive; */
}

p {
  margin: 0;
}

#home {
  background-image: url(./assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

#about {
  background-image: url(./assets/the-games-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

#feature {
  background-image: url(./assets/features.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #fff;
  position: relative;
}

.circle::after {
  content: "";
  width: 2px;
  height: 135px;
  background-color: #fff;
  position: absolute;
  display: block;
  top: 6px;
  left: 6px;
}
.circle::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  position: absolute;
  display: block;
  top: 140px;
}

.circle-reguler {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #fff;
}

.text-yellow {
  color: #ffb548;
}

.text-gray {
  color: #979797;
}

.card {
  border-radius: 10px !important;
}

#requirements {
  background-image: url(./assets/requirements.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  padding-top: 145px;
}

#top-scores {
  background-image: url(./assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  padding-top: 160px;
}
#footer {
  background-image: url(./assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  padding-top: 160px;
}

.title {
  font-size: 72px;
  font-weight: 700;
}

/* nav */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  line-height: 32.68px;
  letter-spacing: 10%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  padding: 10px 50px;
  font-weight: 700;
}

.bordered {
  border: 1px solid #ffb548;
  padding: 15px 20px;
}

.border-gray {
  border-color: #979797;
}

.profile-image {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 14px;
}

.border-custom {
  border-top: 1px solid #fff;
  padding: 25px 0;
}
